# Node modules
/node_modules/

# Build output
/dist/
/package/
/scripts/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS files
.DS_Store
Thumbs.db

# Environment files
.env

# IDE/editor folders
.vscode/
.idea/

# Misc
*.log
vanillajs-datatable-1.0.4.tgz
*.tgz
